<!DOCTYPE html>
<html>

<head>
  <title>Solectrus</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
</head>

<body class="flex flex-col h-screen bg-gray-200 font-sans">
  <header class="p-5 text-center">
    <h1 class="text-5xl font-medium">
      SENEC
    </h1>
  </header>

  <main class="flex-1 overflow-y-auto p-5">
    <%= yield %>
  </main>

  <footer class="py-5 text-center text-xs bg-gray-300">
    SOLECTRUS
    <%= link_to 'https://github.com/solectrus/solectrus',
                target: '_blank',
                rel: 'noopener',
                title: Rails.configuration.x.git.commit_time do %>
    <code class="ml-1 text-gray-500"><%= Rails.configuration.x.git.commit_sha.first(8) %></code>
    <% end %>
  </footer>
</body>

</html>